<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Top 3 Coins</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>Top 3 Coins</h1>
<table>
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Price</th>
        <th>Volume</th>
        <th>Price Change</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="coin : ${coins}">
        <td th:text="${coin.getSymbol()}"></td>
        <td th:text="${coin.getPrice()}"></td>
        <td th:text="${coin.getVolume()}"></td>
        <td th:text="${coin.getPriceChange()}"></td>
    </tr>
    </tbody>
</table>
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>